<% layout("layouts/form.ejs") %>

    <form method="POST" action="/homeKey/<%=editHome._id%>?_method=PUT">
      <div class="mb-3">
        <h2>Edit Listing</h2>
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Title</b></label>
        <input type="text" class="form-control" name="editHome[title]" value="<%= editHome.title %>">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Description</b></label>
        <textarea name="editHome[description]" cols="10" rows="5"
          class="form-control"><%= editHome.description%></textarea>
      </div>
      <!-- image sections -->
      <div class="mb-3">
        <label class="form-label"><b>Price</b></label>
        <input type="number" class="form-control" name="editHome[price]" value="<%= editHome.price %>">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Email Address</b></label>
        <input type="email" class="form-control" name="editHome[email_id]" value="<%= editHome.email_id %>">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Location</b></label>
        <input type="text" class="form-control" name="editHome[location]" value="<%= editHome.location %>">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Country</b></label>
        <input type="text" class="form-control" name="editHome[country]" value="<%= editHome.country %>">
      </div>
      <div class="mb-3-more">
        <button class="btn btn-primary create">Sumit</button>
      </div>
    </form>
  

  </html>
