<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listing</h1>
    <%for(let list of allListing){%>
        <h1>
            Title : <%=list.title%>
        </h1>
        <p>Description :<%= list.description%></p>
        <p>Price : <%= list.price%></p>
        <p>Location : <%= list.location%></p>
        <p>Country : <%= list.country%></p>
    <%}%>
</body>
</html>
