<% layout("layouts/boilerplate.ejs") %>
<body>
    <h1>Update Listings</h1>
    <form action="/listings/<%=listId._id%>?_method=put" method="post">
        <input type="text" value="<%=listId.title%>">
        <br> <br>
        <textarea   cols="30" rows="10" value="<%=listId.description%> "></textarea> 
        <br> <br>
        <input type="number" value="<%=listId.price%>">
        <br> <br>
        <input type="text" value="<%=listId.location%>">
        <br> <br>
        <input type="text" value="<%=listId.country%>">
        <br> <br>
        <button>Sumit</button>
    </form>
</body>
