<% layout("layouts/boilerplate.ejs") %>

<div class=" list-box show-box" style="width: 50vw;">
    <img src="<%=showData.image.url%>" class="card-img-show">
    <div class="card-body">
      <h5 class="card-title"><b>Title</b>: <%=showData.title%></h5>
      <br>
      <p class="card-text "><b>Description</b>: <%=showData.description%></p>
      <br>
    </div>
    <div class="show-body">
      <li class="list-group-item "><b>Price</b>: <%=showData.price %></li>
      <br>
      <li class="list-group-item"><b>Email Address</b>: <%=showData.email_id %></li>
      <br>
      <li class="list-group-item"><b>Location</b>: <%=showData.location %></li>
      <br>
      <li class="list-group-item"><b>Country</b>: <%=showData.country %></li>
      <br>
    <div class="card-body">
      <form action="/homeKey/<%=showData._id%>/edit" method="get">
        <button class="card-link btn btn-primary">Edit Details</button>
      </form>
      <br>
      <form action="/homeKey/<%=showData._id%>?_method=delete" method="post">
        <button class="card-link btn btn-primary">Delete Details</button>
      </form>
    </div>
</div>


</html>
