<% layout("layouts/boilerplate.ejs") %>

    <div class="form-box">
        <form method="POST" action="/Keydwell/show/<%=updatedata._id%>?_method=PUT" novalidate class="needs-validation">
            <div class="mb-3">
                <h2 class="main">Edit Listing</h2>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Title</b></label>
                <input type="text" required class="form-control" name="updatedata[title]"
                    value="<%= updatedata.title %>">
                <div class="invalid-feedback">Please Enter Title Name</div>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Description</b></label>
                <textarea name="updatedata[description]" cols="10" rows="5" class="form-control"
                    required><%= updatedata.description%></textarea>
                <div class="invalid-feedback">Please Enter the fullfill Description</div>
            </div>
            <!-- image sections -->
            <div class="mb-3">
                <label class="form-label"><b>Image</b></label>
                <input type="text" required class="form-control" name="updatedata[image.url]"
                    value="<%= updatedata.image.url %>">
                <div id="emailHelp" class="form-text">Image will pass in url formate.</div>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Price</b></label>
                <input type="number" required class="form-control" name="updatedata[price]"
                    value="<%= updatedata.price %>">
                <div id="emailHelp" class="form-text">Please Enter Price</div>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Email Address</b></label>
                <input type="email" required class="form-control" name="updatedata[email_id]"
                    value="<%= updatedata.email_id %>">
                <div id="emailHelp" class="form-text">Please Enter valid Email Address</div>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Location</b></label>
                <input type="text" class="form-control" required name="updatedata[location]"
                    value="<%= updatedata.location %>">
                <div id="emailHelp" class="form-text">Please Enter Location</div>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Country</b></label>
                <input type="text" class="form-control" required name="updatedata[country]"
                    value="<%= updatedata.country %>">
                <div id="emailHelp" class="form-text">Please Enter Country Name</div>
            </div>
            <div class="mb-3-more">
                <button class="btn btn-primary create">Sumit</button>
            </div>
        </form>
    </div>
